@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url("Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 800;
    src: url("Raleway/Raleway-Bold.ttf");
}





:root {
    --ratio: 1.2;
    --space--4: calc(var(--space--3) / var(--ratio));
    --space--3: calc(var(--space--2) / var(--ratio));
    --space--2: calc(var(--space--1) / var(--ratio));
    --space--1: calc(var(--space-0) / var(--ratio));
    --space-0: 1rem;
    --space-1: calc(var(--space-0) * var(--ratio));
    --space-2: calc(var(--space-1) * var(--ratio));
    --space-3: calc(var(--space-2) * var(--ratio));
    --space-4: calc(var(--space-3) * var(--ratio));
    --space-5: calc(var(--space-4) * var(--ratio));
    --space-6: calc(var(--space-5) * var(--ratio));
    --space-7: calc(var(--space-6) * var(--ratio));
    --space-8: calc(var(--space-7) * var(--ratio));
}





body {
    font-family: "Raleway", sans-serif;
    font-feature-settings: "lnum" 1;
    line-height:1.2;
    margin: var(--space--3);
    margin-top: 0;
    color: #333;
    background-color: #EEE;
}





button, input {
    font-family: "Raleway";
    font-feature-settings: "lnum" 1;
    font-size:var(--space--1);
    height: var(--space-4);
    box-sizing: border-box;
    padding: 0 var(--space-0) 0 var(--space-0);

    border-radius: 4px;
    border: 1px solid #DDD;
    color: #333;
    background: #FFF;
}

button {
    color: #07b;
    text-transform: uppercase;
    font-weight: 800;
}

button:active {
    background-color:#EEE;
}

button.primary {
    border:0;
    background: #07b;
    color:#FFF;
}

button.primary:active {
    background: #059;
}

button.negative {
    color: #F50;
}





h1, h2, h3, h4 {
    margin:0;
}

h1 {
    font-size: var(--space-2);
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-size:var(--space-1);
    line-height: 1;
    font-weight: 800;
}

h3 {
    font-size:var(--space-1);
    line-height: 1.2;
}

h4 {
    font-size:var(--space-0);
    line-height: 1.2;
}





.input_set {
    display: grid;
    grid-template-columns: 1fr 8ch;
    align-items: center;
}

.input_set > label {
    word-break: break-all;
}

.input_set > input {
    width: 100%;
}






.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - var(--space-4));
    max-width: 500px;
    max-height: calc(100vh - 2 * var(--space-4));
    padding: var(--space--3);
    padding-top: 0;
    box-sizing: border-box;
    z-index: 30;
    overflow: auto;

    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    animation: popup 0.3s;
    transition: opacity 0.3s, top 0.3s;
}

@keyframes popup {
    from {
        opacity: 0;
        top: 60%;
    }
}


.popup > .popup_header {
    position: sticky;
    top:  0;
    height: var(--space-3);
    padding-top: var(--space--3);
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
}

.popup > .popup_header > h2 {
    display: inline-block;
    line-height: var(--space-3);
}

.popup > .popup_header > button {
    float: right;
    height: var(--space-3);
    width: var(--space-3);
    padding: 0;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.popup > * + * {
    margin-top: var(--space--3);
}



#overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 20;
    background-color:rgba(0,0,0,0.3);
    animation: fade_in 0.3s;
    transition: opacity 0.3s;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
}




#parameter_inputs_container > div + div, #settings_inputs_container > div + div {
    margin-top: var(--space--3);
}

.error_container {
    display: none;
    color: #F50;
}

.error_container > span {
    display: block;
}








header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--space-7);
    padding: 0 var(--space--3);
    box-sizing: border-box;
    z-index: 10;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}

header > h1 {
    line-height: var(--space-7);
    flex-grow: 1;
}

header > button {
    border: 0;
    height: var(--space-5);
    width: var(--space-5);
    padding: 0;
    margin-top: calc(var(--space-1) / 2);
    color: inherit;
}

header > button + button {
    margin-left: var(--space--3);
}

header + .placeholder {
    height: var(--space-7);
}





#simulation_container {
    max-width: 600px;
    margin: var(--space--3) auto auto auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #FFF;
    padding: var(--space--3);
    box-sizing: border-box;
}

#environment {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #EEE;
}

#environment > .creature {
    position:absolute;
    width:2%;
    height:2%;
    background-color:#07C;
}

#environment > .food {
    position:absolute;
    width:1%;
    height:1%;
    background-color:#F70;
}




#button_container {
    margin-top: var(--space--3);
    display: grid;
    grid-gap: var(--space--3);
    grid-template-columns: 1fr 1fr;
}

#button_container > button {
    height: var(--space-5);
    width: 100%;
    padding: 0;
    font-size: var(--space--1);
}

#button_container > button::before {
    font-size: var(--space-0);
}

@media only screen and (min-width: 620px) {
    #button_container {
        grid-template-columns: repeat(4, 1fr);
    }
}



#time_container > .input_set {
    grid-template-columns: 1fr 10ch;
}

#time_container > button + button {
    margin-left: var(--space--3);
}
