
.icon-population:before { content: '\e800'; } /* '' */
.icon-time:before { content: '\e801'; } /* '' */
.icon-statistics:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-parameters:before { content: '\f1de'; } /* '' */